section.parametres{
    background-color: rgba(0, 120, 212, 0.3);
}

.parametres-previewImg{
    width: 300px;
}

.parametres-image-selector {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    overflow: auto;
}

.parametres-image-selector label {
    margin-right: 10px;
}

.parametres-image-selector img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent;
}

.parametres-image-selector input[type="radio"] {
    display: none;
}

.parametres-image-selector input[type="radio"]:checked + img {
    border-color: #0078d4;
}
