.window {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.window-header {
    background-color: #ccc;
    padding: 8px;
    border-bottom: 1px solid #999;
    border-radius: 5px 5px 0 0;
}

.window-title {
    font-weight: bold;
}

.window-content{
    height: 100%;
}

.close-btn {
    float: right;
    border: none;
    background: none;
    cursor: pointer;
}

/* .window-resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
}

.window-resize-handle.bottom-right {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
} */